# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
* List popular languages for Data Science
* List commonly libraries for Data Sience
* Show how to make arithmetic expressions in Phyton

Some of the popular languages that Data Scientists use are:
1. phyton
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. numpy
3. pandas

|Data Science Tools|
|---|
|Git hub|
|JupiterNotebook|
|Weka|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
minuts= 200
hours= minuts/60
print(hours)

3.3333333333333335

In [ ]:
##